* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 10px */

  --color-green-01: #19c37d;
  --color-gray-01: #f8fafc;
  --color-gray-02: #e2e8f0;
  --color-gray-03: #a0a3a7;
  --color-gray-04: #334155;
  --color-gray-05: #1e293b;
  --color-gray-06: #0f172a;
  --color-gray-07: #020617;
}

body {
  background: #353740;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.6rem;
  color: var(--color-gray-02);
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem 0 2rem;
  gap: 4rem;
}

/* ----- HEADER ----- */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  margin-top: 4rem;
}

header i {
  align-items: center;
  font-size: 4rem;
  color: var(--color-green-01);
  animation: flip 5s ease-in-out infinite;
}

.title h1 {
  color: #ececf1;
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center;
}

/* --- CONTAINER BLOCKS ---- */

.container-blocks {
  width: 100%;
}

.ia-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.ia-tools {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.ia-tools h4 {
  display: flex;
  flex: 1;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 200;
  color: #aeaeae;
  padding: 0.6rem;
}

.tools {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.6rem;
  border: 1px solid #565869;
  background: #202123;
  padding: 0.4rem;
  transition: border-color 0.3s, background-color 0.3s;
}

.tools div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.icons {
  min-width: 4rem;
  min-height: 4rem;
  padding: 0.6rem;
  gap: 0.8rem;
  border-radius: 1.2rem;
  background: #40414f;
  transition: border-color 0.3s, background-color 0.3s;
}

.icons .ph-thin {
  color: #19c37d;
}

.icons i {
  font-size: 3.2rem;
  color: var(--color-gray-03);
  transition: color 0.3s;
}

.tools div p {
  color: var(--color-gray-03);
  font-size: 1.4rem;
  font-weight: 600;
}

.tools:hover {
  background: #353740;
  border: 1px solid #19c37d;
}

.tools:hover div p {
  color: #fff;
}

.tools:hover div.icons {
  background: var(--color-green-01);
}

.tools:hover .icons .ph-thin {
  color: #fff;
}

.tools:hover .arrow {
  color: var(--color-green-01);
}

.arrow {
  padding: 0 0.6rem 0 0;
  color: var(--color-gray-03);
}

/* ------- SPAN--------  */

span {
  width: 100%;
  height: 0.1rem;
  background: #565869;
}

/* ------- CONTAINER LINKS--------  */

.container-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container-table-links {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.container-table-links ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  padding-inline-start: 0;
  width: 100%; /* Define a largura como 100% */
}

.container-table-links ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
  background: #202123;
  border: 1px solid #565869;
  height: 6rem;
  border-radius: 1.6rem;
  transition: border-color 0.3s, background-color 0.3s;
}

.container-table-links ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 400;
  color: var(--color-gray-03);
  width: 100%;
  padding: 1.6rem;
  border-radius: 1.6rem;
  transition: color 0.3s;
}

.container-table-links ul li:hover {
  background: #353740;
  border: 1px solid #19c37d;
}

.container-table-links ul li:hover a {
  color: #fff;
}

.container-table-links ul li a span {
  background: none;
  color: #19c37d;
}

/* ------- FOOTER--------  */

footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.6rem;
  color: #565869;
  margin: 4rem 0;
}

footer a {
  color: #565869;
  text-decoration: none;
}

/* MEDIA QUERIES */
/* ### MAX 820PX ### */
@media screen and (max-width: 820px) {
  .container {
    max-width: 580px;
  }

  .ia-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .container-table {
    display: flex;
  }

  .container-table h4 {
    padding: 0 0 2rem 0;
  }

  .container-table-links ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  .ia-blocks {
    display: grid;
    grid-template-columns: 1fr;
  }

  .container-table-links ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 400px) {
  .container-table-links ul {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* EFEITOS KEYFRAME */

@keyframes flip {
  0% {
    transform: perspective(800px) rotateY(0deg);
  }
  100% {
    transform: perspective(800px) rotateY(360deg);
  }
}
